rizin-notebook
rizin-notebook.exe
rizin-notebook.exe~
*.test
*.out
coverage.out
.test-data
.rizin-notebook/
cutter-notebook-plugin/build/
cutter-notebook-plugin/cmake-build-*/
cutter-notebook-plugin/.qt/
cutter-notebook-plugin/*.zip
rz-notebook/build/
rz-notebook/cmake-build-*/
.DS_Store
Thumbs.db